agm-map {
  height: 100vh;
}

.info-window-details {
  h4 {
    text-align: center;
  }

  img {
    height: 10em;
  }
}

.info-window-actions {
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;

  button {
    margin: 0 0.2em 0.2em 0.2em;
  }
}
