agm-map {
  height: calc(100vh - 64px); /*64 is toolbar height*/
  overflow: hidden;
}

.info-window-details h4{
  text-align: center;
}

span {
  color: #8a8b8b;
  display: block;
}

img {
  height: 10em;
}


.info-window-actions {
  padding-top: 1em;
  float: right;
  
}

.info-window-actions button {
  margin: 0 0.5em 0.3em 0;
}

.active {
  background-color: rgb(225, 226, 230);
}
