  <div >
    <mat-toolbar color="primary">
      <mat-icon *ngIf="origin!=undefined" (click)="cancelDirection()" style="cursor:pointer">cancel</mat-icon>
      <mat-icon (click)="logout()" style="cursor:pointer; margin-left:auto; margin-right:0;">logout</mat-icon>
    </mat-toolbar>
  </div>
  <div>
    <agm-map [latitude]="lat"
             [longitude]="lng"
             [zoom]="zoom"
             (mapClick)="createMarker($event);">

      <agm-marker [iconUrl]="(marker.solved==true)?'./assets/icon.png':''"
                  *ngFor="let marker of markers"
                  [latitude]="marker.latitude"
                  [longitude]="marker.longitude">
        <agm-info-window>
          <div class="info-window-details">
            <h4>{{marker.description}}</h4>
            <span>By: {{marker.citizen}}</span>
            <span>Created: {{marker.createdAt | date: 'dd-MMM-yyyy HH:mm'}}</span>
            <span *ngIf="marker.resolvedAt">Resolved: {{marker.resolvedAt | date: 'dd-MMM-yyyy HH:mm'}}</span>
            <hr />
            <img [src]="marker.image">
          </div>
          <div class="info-window-actions"
               *ngIf="!marker.solved">
            <button mat-raised-button
                    (click)="getDirection(marker)">
              Direction
            </button>
            <button *ngIf="marker.citizen != citizen"
                    mat-raised-button
                    (click)="solve(marker)"
                    color="primary">
              Solved
            </button>
          </div>
        </agm-info-window>
      </agm-marker>
      <agm-direction *ngIf="origin!=undefined" [origin]="origin" [destination]="destination" [visible]="true"></agm-direction>
    </agm-map>
  </div>
